name: Delete Telegram Webhook

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Удаление вебхука Telegram
        run: |
          curl -X POST https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/deleteWebhook
